.header {
  font-size: 2rem;
  background-color: rgba($header-bgcolor, 0.9);
  margin-bottom: 2rem;
  color: $text-color-white;
  text-transform: uppercase;
  position: fixed;
  width: 91.8%;
  top: 10px;
  left: 1;

  &-left {
    padding: 1rem;
    display: inline-block;
  }

  &-links-right {
    float: right;

    a,
    a:visited {
      color: $text-color-white;
      cursor: pointer;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.navigation {
  padding: 1rem;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
    a {
      text-decoration: none;
    }
  }
}
