.empty-cart {
  span {
    color: $header-bgcolor;
  }

  font-size: 4rem;

  .go-shopping {
    color: $header-bgcolor;
  }
  .btn {
    font-size: 3rem;
    float: right;
  }

  &-msg {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 6rem;
    padding: 3rem;
  }

  p {
    padding: 3rem;
    text-transform: capitalize;
  }
  p i {
    width: 4rem;
    display: inline-block;
    margin-left: 5rem;
    color: $header-bgcolor;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.checkout {
  .fa-credit-card {
    color: $header-bgcolor;
  }
  width: 90rem;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  background: white;
}
