* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background: white;
}

html {
  margin: 0 auto;
  font-size: 10px;
  font-family: "Noto Sans SC", sans-serif;
  padding: 3rem 3rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $text-color-white;
}
