.product-wrapper {
  box-sizing: border-box;
  text-align: center;
}

.view-cart {
  @include buttonMixin;
  background-color: darken($header-bgcolor, 7%);
  margin-top: auto;
  text-transform: uppercase;
}

.product-info {
  height: 20rem;
  margin-bottom: 18rem;
  text-align: center;
  width: calc(100% / 3);
  float: left;

  .phone-card {
    margin-left: 2px;
    padding: 1rem;

    figure {
      font-size: 2rem;
    }

    img {
      height: 200px;
      object-fit: scale-down;
      border-radius: 1.4rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .item-info {
    margin-top: 1.2rem;
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 130px;
  }
  @include clearMixin;

  .price,
  .reviews {
    font-size: 1.5rem;
    display: block;
  }

  .add-to-cart {
    @include buttonMixin;
    margin-top: auto;
    background: $header-bgcolor;
    text-transform: uppercase;
  }
}
