.product-grid {
  background: white;
}

.in-cart {
  background: $header-bgcolor;
  background-color: lighten($header-bgcolor, 10%);
  margin-top: auto;
  color: white;
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 7%;
}

.phone-card {
  border: 1px solid lighten(lightgrey, 8%);
  margin-left: 4px;
  background: white;
  padding: 1rem;
}

img:hover {
  transform: scale(1.1);
}

.product-wrapper {
  box-sizing: border-box;
  text-align: center;
}
.product-info {
  height: 20rem;
  margin-bottom: 18rem;
  text-align: center;
  width: calc(100% / 3);
  float: left;

  .phone-card {
    figure {
      width: 97%;
      background-color: white;
      font-size: 2rem;
    }
    img {
      height: 200px;
      object-fit: scale-down;
      border-radius: 1.4rem;
    }
  }
  .item-info {
    margin-top: 1.2rem;
    color: black;
    width: 97%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 120px;
  }

  &::after {
    content: "";
    display: block;
    clear: left;
  }

  .price,
  .reviews {
    font-size: 1.5rem;
    display: block;
  }

  .add-to-cart {
    margin-top: auto;
    color: white;
    cursor: pointer;
    background: $header-bgcolor;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 7%;
  }
}
