.product-wrapper {
  box-sizing: border-box;
}

.product-info {
  height: 20rem;
  margin-bottom: 10rem;
  text-align: center;
  width: calc(100% / 3);
  float: left;

  .phone-card {
    figure {
      font-size: 2rem;
      width: 102%;
    }
    img {
      width: 22%;
      border: 1px solid black;
      border-radius: 1.2rem;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: left;
  }

  .price,
  .reviews {
    font-size: 1.5rem;
  }
}
