.cart-items {
  font-size: 2rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  .cart-buying-option {
    text-align: center;
  }

  &-img {
    padding: 10rem;
    display: inline;

    img {
      width: 9%;
    }
  }
  &-details {
    span {
      display: block;
      margin-bottom: 1rem;
    }
  }

  .remove-cart-item {
    @include buttonMixin;
    color: white;
    background: $header-bgcolor;
    text-transform: uppercase;
  }
}
