.cart-items {
  font-size: 2rem;
  width: 90rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  background: white;
  .cart-buying-option {
    text-align: center;
  }

  &-img {
    padding: 10rem;
    display: inline;

    img {
      width: 17%;
    }
  }
  &-details {
    span {
      display: block;
      margin-bottom: 1rem;
    }
  }

  .remove-cart-item {
    color: white;
    background: $header-bgcolor;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 7%;
    cursor: pointer;
  }
}
