a:visited {
  color: black;
}

.product-wrapper {
  width: 100%;
}

.product-info {
  width: 10%;
}
.product-wrapper .product-info p {
  font-size: 1em;
  font-weight: 100;
}
.product-wrapper .product-info img {
  width: 100%;
  vertical-align: middle;
}

.product-info {
  /* background: gray; */
  text-align: center;
}
