.single-product {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  .in-cart {
    @include buttonMixin;
    background-color: lighten($header-bgcolor, 10%);
    margin-top: auto;
  }
  img {
    margin: 2rem 0;
    width: 10%;

    &:hover {
      transform: scale(1.2);
    }
  }

  p {
    width: 50%;
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }
  .old-price {
    display: block;
    margin-bottom: 1rem;
  }
  .vote {
    @extend .old-price;
  }
  button {
    @include buttonMixin;
    font-size: 2rem;
    display: block;
  }
  a {
    @include buttonMixin;
    margin-top: 1rem;
    margin-right: 1rem;
    display: inline-block;
    border: 1px solid lighten(lightgrey, 8%);
  }
}
